@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #4f46e5, #06b6d4);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #4338ca, #0891b2);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

html {
  scrollbar-width: thin;
  scrollbar-color: #4A4A4A #000000;
}